.md-form{
    width:100%;
    height: 4em;
    border-radius: 10px;
    border:1px solid #00205b;
}
input::-webkit-input-placeholder {
    color: #656668;
    font-size: 1.5em;
    text-indent: 1%;
    }