<!DOCTYPE html>
<html>
	<head>
		<title>AJS Directives</title>
		<link rel="stylesheet" href="style.css">
		<script src="angular.min_12.js"></script>
		<!--<script src="script.js"></script>-->
		<script src="customerControllerAS.js"></script>
	</head>
	
	<body  ng-app="">
		<div ng-controller="customerController as ctrl">
		    <h3>Filter </h3>
			Filter: <input type="text" ng-model="custFilter.name" /> <br>
			<table>
			    <tr>
				    <th ng-click="ctrl.doSort('name')">Name</th>
					<th ng-click="ctrl.doSort('city')">City</th>
					<th ng-click="ctrl.doSort('orderTotal')">Order Total</th>
					<th ng-click="ctrl.doSort('joined')">Joined</th>
				</tr>
			    <tr ng-repeat="cust in ctrl.customers | limitTo:4 | orderBy:ctrl.sortBy:ctrl.reverse | filter:custFilter ">
				    <td>{{  cust.name | uppercase }}</td>
					<td>{{  cust.city | lowercase }}</td>
					<td>{{  cust.orderTotal | currency:'Y' }}</td>
					<td>{{  cust.joined | date:'MM/dd/yyyy' }}</td>
				</tr>
			</table>
			<br>
		<span>Total customers: {{ ctrl.customers.length }}</span>
		
		</div>
		
		
	</body>
</html>