<!DOCTYPE html>
<html>
	<head>
		<title>AJS Directives</title>
		<link rel="stylesheet" href="style.css">
		<script src="angular.min.js"></script>
		<!--<script src="script.js"></script>-->
	</head>
	
	<body ng-app="" ng-init="data={name:'Kobe', isVisible: true, loggedIn: true, status: 'red'}">
		<div id="container">
		  <div ng-switch on="data.loggedIn">
			<header>
				<h1>AJS Content Slider</h1>
			</header>
			<div ng-switch-when="true" ng-class="data.status">
			   Welcome {{data.name}}
			</div>
            <div ng-switch-default ng-class="data.status">  			
			   Login++ 
			</div>
		  </div>
		  <div ng-show="data.isVisible">
		    Name: <input type="text" ng-model="name" /> <br>
			<span ng-bind="name"></span> <br>
		  </div>
		
		<div ng-hide="isHidden" ng-init="name='James'">
		    Name: <input type="text" ng-model="name" /> <br>
			<span ng-bind="name"></span> <br>
			Hide: <input type="checkbox" ng-model="isHidden" /> <br>
			<button ng-click="name='Mick'">Change Name</button>
		</div>
		<div ng-init="defName=['Dave','Jeff','Heedy','Danny']">
		    <h3>Iterating with ng-repeat</h3>
			<ul>
			    <li ng-repeat="kName in defName">{{ kName }}</li>
		    </ul>
		</div>
		<div ng-init="cityName=[{name:'Joe', city:'Austin'},{name:'Lebron', city:'Clevland'},{name:'Allen', city:'Chicago'},{name:'James', city:'Dartmouth'}]">
		    <h3>Iterating with objects</h3>
			<ul>
			    <li ng-repeat="person in cityName">{{ person.name + ' ' + person.city}}</li>
		    </ul>
			<br>
			<table>
			    <tr>
				    <td>Name</td>
					<td>City</td>
				</tr>
			    <tr ng-repeat="person in cityName">
				    <td>{{  person.name }}</td>
					<td>{{  person.city }}</td>
				</tr>
			</table>
		</div>
		<div ng-init="customers=[{joined:'2000-12-02', name:'Joe', city:'Austin', orderTotal:'9.995'},{joined:'2003-11-12', name:'Lebron', city:'Clevland', orderTotal:'29.898'},{joined:'2010-06-09', name:'Allen', city:'Chicago', orderTotal:'18.887'},{joined:'2008-11-20', name:'James', city:'Dartmouth', orderTotal:'288.894'}]">
		    <h3>Filter </h3>
			Filter: <input type="text" ng-model="custFilter.name" /> <br>
			<table>
			    <tr>
				    <th ng-click="sortBy='name';reverse=!reverse">Name</th>
					<th ng-click="sortBy='city';reverse=!reverse">City</th>
					<th ng-click="sortBy='orderTotal';reverse=!reverse">Order Total</th>
					<th ng-click="sortBy='joined';reverse=!reverse">Joined</th>
				</tr>
			    <tr ng-repeat="cust in customers | limitTo:4 | orderBy:sortBy:reverse | filter:custFilter">
				    <td>{{  cust.name | uppercase }}</td>
					<td>{{  cust.city | lowercase }}</td>
					<td>{{  cust.orderTotal | currency:'Y' }}</td>
					<td>{{  cust.joined | date:'MM/dd/yyyy' }}</td>
				</tr>
			</table>
		</div>
		</div>
	</body>
</html>