
<div class="row">
  	<div class="col-md-6 col-sm-6">
		<form #myform="ngForm" (ngSubmit)="save(myform.value)">
			
			<div class="form-group">
				<label for="title">Title</label>
				<!-- <input #title="ngModel" ngModel name="title" type="text" id="title" class="form-control" required> -->
				<input #title="ngModel" [(ngModel)]="product.title" name="title" type="text" id="title" class="form-control" required>
				<div class="alert alert-danger" *ngIf="title.touched && title.invalid">
					Title is required!
				</div>
			</div>

			<div class="form-group">
				<label for="price">Price</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<!-- <input #price="ngModel" ngModel name="price" type="text" id="price" class="form-control" required [min]="0"> -->
					<input #price="ngModel" [(ngModel)]="product.price" name="price" type="text" id="price" class="form-control" required [min]="0">
				</div>
				<div class="alert alert-danger" *ngIf="price.touched && price.invalid">
					<div *ngIf="price.errors.required">Price is required!</div>
					<div *ngIf="price.errors.min">Price should be 0 or higher.</div>
				</div>
			</div>

			<div class="form-group">
				<label for="category">Category</label>
				<!-- <select #category="ngModel" ngModel name="category" id="category" class="form-control" required> -->
				<select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
					<option value=""></option>
					<option *ngFor="let category of categories$ | async" [value]="category.$key">{{ category.name }}</option>
				</select>
				<div class="alert alert-danger" *ngIf="category.touched && category.invalid">
					Category is required!
				</div>
			</div>

			<div class="form-group">
				<label for="imageUrl">Image URL</label>
				<!-- <input #imageUrl="ngModel" ngModel name="imageUrl" type="text" id="imageUrl" class="form-control" required url> -->
				<input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" type="text" id="imageUrl" class="form-control" required url>
				<div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
					<div *ngIf="imageUrl.errors.required">Image Url is required!</div>
					<div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
					
				</div>
			</div>

			<button class="btn btn-primary">Save</button>
			<button type="button" class="btn btn-danger" (click)="delete()">Delete</button>

		</form>
	</div>
	<div class="col-md-6 col-sm-6">
    <div class="card" style="width: 18rem;">
      <!-- <img class="card-img-top" [src]="imageUrl.value"> -->
      <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl">
      <div class="card-body">
        <!-- <h5 class="card-title">{{ title.value }}</h5> -->
        <h5 class="card-title">{{ product.title }}</h5>
        <!-- <p class="card-text">{{ price.value | currency:'USD':true }}</p> -->
        <p class="card-text">{{ product.price | currency:'USD':true }}</p>
      </div>
    </div>
  </div>
</div>


<p>{{ myform.value | json }}</p>
