<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="/Content/app.css" type="text/css" />
    <script src="/Scripts/02-06-objects.js"></script>
</head>
<body>
    <h1>TypeScript Fundamentals - Objects</h1>
    <a href="/index.html">Index</a>
    <div class="description">Various ways to define, type and use objects. Press F12 to see the Console window</div>
    <div id="content">
        
    </div>
</body>
</html>