<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="/Content/app.css" type="text/css" />
    <script src="/Scripts/knockout-2.2.0.js"></script>
    <script src="/Scripts/02-04-ambient-declarations.js"></script>
</head>
<body>
    <h1>TypeScript Fundamentals - Ambient Declarations</h1>
    <a href="/index.html">Index</a>
    <div class="description">Shows an ambient declaration and how TypeScript's static typing can help avoid common errors. Press F12 to see the Console window</div>
    <div id="content">
        
    </div>
</body>
</html>