<h2>{{ appSettings.title }}</h2>
<br />
Filter: <input type="text" ng-model="customerFilter.name" />
<br /><br />
<table class="table table-striped">
    <tr>
        <th ng-click="doSort('name')">Name</th>
        <th ng-click="doSort('city')">City</th>
        <th ng-click="doSort('orderTotal')">Order Total</th>
        <th ng-click="doSort('joined')">Joined</th>
        <th>Orders</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse" class="repeat-animation">
        <td>{{ cust.name }}</td>
        <td>{{ cust.city }}</td>
        <td>{{ cust.orderTotal | currency }}</td>
        <td>{{ cust.joined | date }}</td>
        <td><a href="#/orders/{{ cust.id }}">View Orders</a></td>
        <td class="center"><span class="glyphicon glyphicon-remove delete" ng-click="deleteCustomer(cust.id)"></span></td>
    </tr>
</table>
<br />
<span>Total customers: {{ customers.length }}</span>
<br /><br />
<footer>Version: {{ appSettings.version }} </footer>